.swiper {
  width: 100%;
  height: 100%;
  padding: 0 !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  height: auto !important;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper {
  max-height: 350px;
  border-radius: 15px;
}

.mySwiper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

.swiper-button-prev,
.swiper-button-next {
  width: 44px;
  height: 44px;
  padding: 12px;
  font-size: 15px !important;
  margin: 0;
  top: 50%;
  transform: translate(0, -50%);
  opacity: 0.8;
  line-height: 1;
  background: #fff;
  border-radius: 100%;
  border: none;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  transition: opacity 0.3s ease 0s;

  &:hover {
    opacity: 1;
  }

  &::after {
    font-size: 22px;
    font-weight: 600;
    color: #000;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);
  }
}
